/*
p{
    font-size: larger;
    font-weight: bolder;
}


.f{
    padding: 2rem;
    background-color: aquamarine;
}

#fpara{
    background-color:rgb(235, 236, 236);
    padding: 1rem;

}

#cdiv{
    padding: 2rem;
    background-color: rgb(94, 94, 233);
}


#cpara{
    background-color: rgb(224, 59, 130);
    padding: 1rem;
}

*/

















































































































